RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

RewriteRule ^layanan$ layanan.html [L]
RewriteRule ^$ layanan.html [L]

RewriteRule ^tim$ tim.html [L]
RewriteRule ^$ tim.html [L]

RewriteRule ^pesan$ pesan.html [L]
RewriteRule ^$ pesan.html [L]

RewriteRule ^blog$ blog.html [L]
RewriteRule ^$ blog.html [L]

RewriteRule ^beranda$ index.html [L]
RewriteRule ^$ index.html [L]

